<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /oasis/

DirectorySlash On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /oasis/index.php [L]
</IfModule>
